<!DOCTYPE html>
<html lang="en">

<head>
  <title>Which Rage Face Are You?</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/static/twitter-bootstrap-2.0.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  <link href="/static/twitter-bootstrap-2.0.2/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block extra_head %}{% endblock %}
</head>

<body>

  <div class="github">
    <a class="github-ribbon" href="https://github.com/playpauseandstop/watracest">
      <img src="/static/img/github.png" alt="Fork me on GitHub">
    </a>
  </div>

  <div class="container">
    <div class="hero-unit">
      {% block content %}{% endblock %}
    </div>
  </div>

  {% block extra_body %}{% endblock %}

</body>

</html>
